.todo-title
    display: flex
    justify-content: center
    color: #ea7d54
    text-transform: uppercase

.todo-add
    position: relative
    display: flex
    align-items: center
    .todo-input
        border: 1px solid #ea7d54
        border-radius: 5px
        color: #ea7d54
        padding: 5px 40px 5px 10px
        transition: 0.3s all
        background: #fff
        font-size: 20px
        width: 100%
        
        &::placeholder
            color: #f4beaa
        &:focus, &:hover
            border: 1px solid #f4beaa
    .fa-plus-circle
        transition: 0.3s all
        position: absolute
        color: #f4beaa
        right: 11px
        font-size: 20px
        cursor: pointer
        &:hover
            color: #ea7d54

.todo-items
    font-size: 20px
    display: grid
    grid-gap: 10px
    .todo-item
        display: grid
        grid-gap: 10px
        transition: 0.3s all
        background-color: #2db6e4
        border: 1px solid #96dBf1
        border-radius: 5px
        position: relative
        padding: 10px
        &:hover
            background-color: #279fc8
        .todo-item-edit
            font-size: 20px
            color: #ea7d54
            background-color: #fff
            border: none
            padding: 5px
            resize: none
            height: 150px
        .todo-item-label
            color: #fff
            outline: none
            transition: 0.3s all
            white-space: pre-wrap
            word-break: break-all
            &.completed
                opacity: 0.6
        .todo-item-panel
            border-top: 1px solid #f4beaa
            padding-top: 10px
            display: grid
            grid-template-columns: auto 1fr
            grid-gap: 10px
            font-size: 16px
            color: #fff
            .todo-item-button
                display: flex
                justify-content: flex-start
                align-items: center
                .todo-item-text
                    cursor: pointer
            .todo-item-date
                display: flex
                justify-content: flex-end
                align-items: center
                text-align: right
        .fa-check-circle
            position: absolute
            left: -31px
            top: 9px
            color: #f4beaa
            transition: 0.3s all
            &.check
                color: #ea7d54
        .fa-minus-circle
            position: absolute
            right: -31px
            top: 9px
            color: #2db6e4
            transition: 0.3s all
            &:hover
                color: #279fc8
.todo-empty
    font-size: 20px
    color: #ea7d54
    display: flex
    justify-content: center
    align-items: center
    min-height: 350px
    .todo-empty-text
        text-transform: uppercase
        text-align: center
.todo-toolbar
    font-size: 16px
    display: grid
    grid-template-columns: auto 1fr
    grid-gap: 10px
    position: relative
    color: #ea7d54
    .fa-check-circle
        position: absolute
        left: -30px
        font-size: 20px
        color: #f4beaa
        transition: 0.3s all
        cursor: pointer
        &.check
            color: #ea7d54
    .todo-check
        font-weight: bold
        cursor: pointer
    .todo-info
        text-align: right
        #todo-count
            font-weight: bold

.todo-actions
    color: #ea7d54
    font-size: 16px
    display: grid
    grid-template-columns: auto 1fr
    grid-gap: 10px
    .todo-filter
        display: flex
        justify-content: flex-start
        .todo-btn
            background-color: #fff
            border: 1px solid #96dBf1
            color: #2db6e4
            &:nth-child(n + 2)
                margin-left: 5px
            &.active
                background-color: #2db6e4
                color: #fff
    .todo-clear
        display: flex
        justify-content: flex-end
        .todo-btn
            background-color: #fff
            border: 1px solid #f4beaa
            color: #ea7d54
@media only screen and (max-width: 576px)
    .todo-actions
        grid-template-columns: auto
        grid-gap: 5px
        .todo-filter
            justify-content: center
        .todo-clear
            justify-content: center