<div class="todo-title">
    <h1>To-Do List</h1>
</div>

<div class="todo-add">
    <input type="text" class="todo-input" placeholder="What needs to be done..." [(ngModel)]="todoTitle"
        (keyup.enter)="addTodo()">
    <i class="fas fa-plus-circle" (click)="addTodo()"></i>
</div>

<div *ngIf="todos.length !== 0" class="todo-items">
    <div class="todo-item" *ngFor="let todo of sortedTodos">
        <i class="fas fa-check-circle" [ngClass]="{ 'check' : todo.completed }" (click)="checkTodo(todo)"></i>
        <div *ngIf="!todo.editing; else editingTodo" (dblclick)="editTodo(todo)" class="todo-item-label"
            [ngClass]="{ 'completed' : todo.completed }">{{ todo.title }}</div>
        <ng-template #editingTodo>
            <textarea class="todo-item-edit" [(ngModel)]="todo.title" (blur)="doneEdit(todo)"
                (keyup.enter)="doneEdit(todo)" (keyup.esc)="cancelEdit(todo)" autofocus></textarea>
        </ng-template>
        <div class="todo-item-date">{{ todo.date | date : 'medium' }}</div>
        <i class="fas fa-minus-circle" (click)="deleteTodo(todo.id)"></i>
    </div>
</div>
<div *ngIf="todos.length === 0" class="todo-empty">
    <span class="todo-text">Add your first task!</span>
</div>

<div class="todo-toolbar">
    <i class="fas fa-check-circle"
        [ngClass]="{ 'check' : completedTodos.length === todos.length && todos.length !== 0 }"
        (click)="checkAllTodos(todo)"></i>
    <div class="todo-check" (click)="checkAllTodos(todo)">Check All</div>
    <div class="todo-info"><span id="todo-count">{{ remaining() }}</span> items left</div>
</div>

<div class="todo-actions">
    <div class="todo-filter">
        <button class="todo-btn">All</button>
        <button class="todo-btn">Active</button>
        <button class="todo-btn">Completed</button>
    </div>
    <div class="todo-clear" *ngIf="atLeastOneCompleted()">
        <button class="todo-btn" (click)="clearCompleted()">Clear Completed</button>
    </div>
</div>